

body{
    background-color:hsl(30, 38%, 92%);
    width: 1440px;
}

.container{
 background-color:hsl(0, 76%, 40%) ;
 display: flex;
 justify-content: center;
 border-radius: 2%;
 position: absolute;
 top:100px;
 bottom: 100px;
 left:150px;
 right: 150px;

}
.image{
flex-basis: 1;
background-color: blue;
}
image{
  height: 300px;;
}
.info{
  flex-basis: 1;
  background-color: yellowgreen;

}
h1{
  font-family:Fraunces,sans-serif;
  font-weight: 700px;
}
h4{
  font-family: Montserrat,sans-serif;
  font-weight: 700px;
}
p{
  font-size: 14px;
  font-family:Montserrat,sans-serif;
  font-weight: 500px;
}
























/*

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700




*/
















